@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --step--2: clamp(0.6076rem, 0.5965rem + 0.0892vw, 0.7035rem);
    --step--1: clamp(0.7292rem, 0.7049rem + 0.194vw, 0.9377rem);
    --step-0: clamp(0.875rem, 0.8314rem + 0.3488vw, 1.25rem);
    --step-1: clamp(1.05rem, 0.9783rem + 0.5733vw, 1.6663rem);
    --step-2: clamp(1.26rem, 1.1482rem + 0.8941vw, 2.2211rem);
    --step-3: clamp(1.512rem, 1.3435rem + 1.3477vw, 2.9607rem);
    --step-4: clamp(1.8144rem, 1.5665rem + 1.9835vw, 3.9467rem);
    --step-5: clamp(2.1773rem, 1.8187rem + 2.8685vw, 5.2609rem);

    --background: #f5ecdd;
    --foreground: #222;
}

* {
    transition: all 0.1s ease-in-out;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--foreground);
    font-family: "Roboto Slab", system-ui, sans-serif;
    line-height: 1.6;
}

html,
body {
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    line-height: 1.6;
}


main {
    width: 100%;
    max-width: 100%;
}

.content {
    width: 100%;
    max-width: 40rem;
    padding: 1rem 1.25rem 2rem;
    margin: 0 auto;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1.5rem;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: var(--step-5);
    /* border: solid 1rem #000000; */
    padding: 1rem;
    color: var(--foreground);
    text-align: center;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: var(--step-0);
    line-height: 1.7;
    margin-bottom: 1rem;
}

.quote-indent {
    font-size: var(--step--1);
    text-indent: 3rem;
    font-style: italic;
}

.skip-link {
    position: absolute;
    left: -999px;
    top: 0;
    padding: 0.5rem 1rem;
    background: #000;
    color: #fff;
    z-index: 1000;
}

.skip-link:focus {
    left: 0.5rem;
    top: 0.5rem;
}

#menuToggle {
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: var(--foreground);
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--foreground);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--foreground);
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    /* max-width: 400px; */
    /* width: 100vw; */
    max-width: 320px;
    width: 80vw;
    max-height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    box-sizing: border-box;
    overflow-y: auto;
    /* background: #ededed; */
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menu li label {
    cursor: pointer;
}

#menuToggle input:checked~ul {
    transform: none;
}

#menuToggle input:focus-visible ~ span {
    outline: 2px solid currentColor;
    outline-offset: 4px;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    font-size: var(--step--1);
    color: var(--foreground);
    opacity: 0.8;
}

footer p {
    margin: 0;
}


@media (min-width: 600px) {
    .content {
        max-width: 30rem;
        padding: 1.5rem 2rem 3rem;
    }

    #menu {
        width: 60vw;
        max-width: 320px;
    }
}

@media (min-width: 900px) {
    .content {
        max-width: 50rem;
    }

    #menu {
        width: 260px;
    }

    #menuToggle {
        top: 30px;
        left: 30px;
    }
}

@media print {

    * {
        transition: none !important;
    }

    body {
        background: #ffffff !important;
        color: #000000 !important;
        margin: 0;
        padding: 0;
        font-family: "Roboto Slab", Georgia, "Times New Roman", serif;
        line-height: 1.6;
    }

    html,
    body {
        padding: 0;
    }

    nav,
    #menuToggle,
    #menu,
    .skip-link {
        display: none !important;
    }

    .content {
        max-width: none;
        width: 100%;
        margin: 0;
        padding: 1.5cm 2cm 2cm;
    }

    header {
        text-align: left;
        margin-bottom: 1cm;
    }

    h1 {
        padding: 0;
        margin: 0 0 0.5cm;
        font-size: 26pt;
        text-align: left;
    }

    p {
        font-size: 11pt;
        margin: 0 0 0.4cm;
        text-indent: 0;
    }

    img {
        max-width: 100%;
        height: auto;
        margin: 0 0 0.8cm;
        page-break-inside: avoid;
    }
    a[href^="http"]::after {
        content: " (" attr(href) ")";
        font-size: 9pt;
    }

    footer {
        text-align: center;
        margin-top: 1cm;
        padding: 0;
        font-size: 10pt;
        color: #000;
    }
}
